torch>=2.1.0
torchvision
diffusers>=0.27.0
transformers>=4.38.0
accelerate>=0.28.0
datasets>=2.18.0
huggingface_hub>=0.22.0
safetensors>=0.4.2
Pillow>=10.0.0
tqdm
jupyter
bitsandbytes>=0.43.0
pyyaml>=6.0
tensorboard
clean-fid>=0.1.35
lpips>=0.1.4
matplotlib
numpy
xformers
